root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[*.{ts,js,tsx,jsx,mjs}]
indent_style = space
indent_size = 2

[*.json]
indent_style = space
indent_size = 2

[*.rs]
indent_style = space
indent_size = 4

[*.{md,mdx}]
trim_trailing_whitespace = false
indent_size = 2
indent_style = space
max_line_length = off
